/* */

h1,h2,h3,h4
{
  font-family: Sans-Serif;
  margin-top: 0px;
}

h1
{
  text-align: center;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

div.copyright
{
  font-size: .8em;
  background: #dddddd;
  margin: 1em;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: .5em;
}

div.section-box
{
  background-color: #dddddd;
  margin: 0em 1em 1em 1em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 1em 1em 1em 1em;
}

div.menu
{
  margin-bottom: 2px;
}

div.menu a
{
  color: black;
  text-decoration: none;
  border-style: solid solid none solid;
  border-width: 2px;
  background: #bbbbbb;
  padding: .3em 2em .3em 2em;
}

div.menu a.active
{
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  background: #dddddd;
}

a.menuitem:hover
{
  color: black;
  background-color: #ff9900;
}

a.menuitem:visited
{
  color: black;
}

a.currentmenuitem:hover
{
  color:black;
}


a.currentmenuitem:visited
{
  color:black;
}


a.currentmenuitem
{
  font-size: 18px;
  font-family: Sans-Serif;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: #FFFFFF;
  background-repeat: repeat-y;
  color: black;
  padding: 5px 0px 5px 0px;
  display: block;
  margin: 10px 15px 10px 15px;
}

a.menuitem
{
  font-size: 18px;
  font-family: Sans-Serif;
  text-align: center;

  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: #607f9b;
  /*	background-image: url(images/menubackground.png);*/
  background-repeat: repeat-y;
  color: black;
  padding: 5px 0px 5px 0px;
  display: block;
  margin: 10px 15px 10px 15px;
}

div.mainbody
{
/*  background-color: silver;
  color: black;
  border-color: black;
  border-style: solid;
  padding: 1em;*/
  margin-top: 0em;
}

p.warning {
  font-size: 1.5em;
  color: red;
  background-color: black;
  font-family: Sans-Serif;
  border-style: solid;
  border-color: red;
  padding: .3em;
}

p.warning a {
  color: red;
}

table.question {
  font-family: Sans-Serif;
  background: #607f9b;
  border-style: solid;
  border-width: thin;
  border-color: black;
  color: white;
  padding-left: 1em;
}

P.answer {
  color: black;
}

TT.irc {
  color: rgb(0,0,150);
}

TT.command {
  color: rgb(200, 0, 0);
}

img
{
  border-style: none;
}

img.screenshot {
  border-style: solid;
  border-width: medium;
}

a img.screenshot {
  border-color: red;
}

a:visited img.screenshot {
  border-color: gray;
}


a:hover img.screenshot {
  border-color: white;
}


a:visited {
  color: rgb(0,0,100);
}

a:hover {
  color: white;
}

a {
  color: rgb(50,50,200);
}


body
{
  background-position: left top;
  background-image: url(images/snow_background.jpg);
  background-repeat: repeat-x;
  background-color: #707f9b;
  color: black;
  /* desert #cdb09e; */
}
