body {
    margin: 0;
    background-color: rgba(62, 102, 125, 1);
    background-image: url("images/background.jpg");
    color: rgba(0, 0, 0, 1);
    line-height: 1.5em;
    max-width: 100%;
}

#sideshot {
    float: right;
    width: 210px;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border-width: 2px;
}

#sideshot img {
    padding: 3px;
}

#page {
    background: rgba(255, 255, 255, 1);
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 64px rgba(0, 0, 0, 1);
}

#title {
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

h1 img {
    margin: 0;
    padding: 0;
    width: 100%;
}

#pagebox {
    margin: 0;
    padding: 0;
    width: 100%;
}

#pagebody {
    margin: 1em 5em;
    color: rgba(0, 0, 0, 1);
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

#pagebodyone {
    margin-top: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#pagebody ul {
    display:table;
}

#pagebody li {
    text-align: left;
}

#copyright {
    background-color: rgba(25, 70, 100, 1);
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: rgba(255, 255, 255, 1);
    line-height: 125%;
    font-size: small;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    color: rgba(211, 211, 211, 1) !important;
}

#copyright a {
    color: rgba(211, 211, 211, 1) !important;
}

#pagebody ul {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 0 1em 0 1em;
}

h2,h3,h4 {
    color: rgba(45, 120, 180, 1);
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    margin: 0.8em 0 0 0;
    padding: 0;
}

ul.menu {
    display: block;
    margin: 0;
    padding: 8px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(25, 70, 100, 1);
    position: relative;
    top: -1px;
}

ul.menu li {
    display: inline;
    white-space: nowrap;
}


ul.menu li a {
    padding: 0.5em 0.75em;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

ul.menu a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(25, 70, 100, 1);
    border-radius: 4px;
}

img.screenshot {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 5px;
}

a:visited {
    color: rgba(25, 70, 100, 1);
}

a:hover {
    color: rgba(15, 40, 60, 1);
}

a {
    color: rgba(45, 120, 180, 1);
}

.datestamp {
    font-size: 75%;
    float: right;
    color: rgba(128, 128, 128, 1);
}
