/* backward compatibility for new HTML5 tags */
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }

body {
    margin: 0;
    background-color: rgba(62, 102, 125, 1);
    background-image: url("images/background.jpg");
    color: rgba(0, 0, 0, 1);
    line-height: 1.5em;
    max-width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

aside.screenshots {
    float: right;
    width: 210px;
    text-align: center;
    margin: 10px;
    padding: 1em;
}

#page {
    background: rgba(255, 255, 255, 1);
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 64px rgba(0, 0, 0, 1);
}

#title {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

h1 img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#pagebox {
    margin: 0;
    padding: 0 0 1em 0;
    width: 100%;
    background-image: url("images/topshadow.png"), url("images/bottomshadow.png");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
    overflow: auto;
}

#pagebody {
    margin: 1em 5em;
    color: rgba(0, 0, 0, 1);
}

.screenshotpage {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#pagebody ul {
    display:table;
}

#pagebody li {
    text-align: left;
}

#footer {
    background-color: rgba(25, 70, 100, 1);
    line-height: 125%;
    font-size: small;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    color: rgba(211, 211, 211, 1) !important;
}

#footer a:visited {
    color: rgb(255, 255, 255);
}

#footer a:hover {
    color: rgb(255, 255, 255);
}

#footer a {
    color: rgba(45, 120, 180, 1);
}

#footer p {
    margin: 0;
    padding: 0;
}

#pagebody ul {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 0 1em 0 1em;
}

h2,h3,h4 {
    color: rgba(45, 120, 180, 1);
    margin: 0.8em 0 0 0;
    padding: 0;
}

nav {
    display: block;
    width: 100%;
    background-color: rgba(25, 70, 100, 1);
    padding: 0.5em 0;
}

ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

ul.menu + ul.menu::before {
    content: "  •  ";
}

ul.menu li {
    display: inline;
    white-space: nowrap;
}


ul.menu li a {
    padding: 0.5em 0.75em;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

ul.external li a {
    color: rgb(215, 240, 255);
}

ul.menu a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(25, 70, 100, 1);
    border-radius: 4px;
}

img.screenshot {
    border-style: none;
    margin: 8px;
    padding: 0;
}

a:hover img.screenshot {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -4px;
}

a:visited {
    color: rgba(25, 70, 100, 1);
}

a:hover {
    color: rgba(15, 40, 60, 1);
}

a {
    color: rgba(45, 120, 180, 1);
}

.datestamp {
    margin: 0;
    padding: 0;

    width: 100%;
    font-size: 75%;
    text-align: right;
    color: rgba(128, 128, 128, 1);
}
