---
layout: default
title: Home
---

<aside class="screenshots">
  {% include donate.html %}
  <br>
  <small><em>Be aware of transaction fees. Review the <a href="{{ site.baseurl }}/donate.html">donation</a> page for information.</em></small>
  <h3>Screenshots</h3>
  {% for screenshot in site.data.screenshots["v0.6.0"] %}
    {% if screenshot.sample %}
      <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot screenshot_home" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
    {% endif %}
  {% endfor %}
  <a href="screenshots.html">More Screenshots</a>
</aside>
<article id="pagebody">
  <h2>Welcome</h2>
  <p>
    SuperTux is a open-source classic 2D jump'n run sidescroller game in a style
    similar to the original Super Mario games.
    <a href="{{ site.baseurl }}/discover.html">Learn more…</a>
  </p>

  <hr/>
  <section class="news">
    <div class="datestamp">
      <p>{{ site.posts.first.date | date: "%b %-d, %Y" }}</p>
    </div>
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ site.posts.first.title }}</a></h2>
    {{ site.posts.first.content }}
  </section>
  <hr/>
  <p>Read more news posts <a href="{{ site.baseurl }}/news/">in the news section</a>.</p>
</article>
