---
layout: default
title: Home
---

<aside class="screenshots">
  {% include donate.html %}
  <h3>Screenshots</h3>
  {% for screenshot in site.data.screenshots["v0.3.5"] %}
    {% if screenshot.sample %}
      <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
    {% endif %}
  {% endfor %}
  <a href="screenshots.html">More Screenshots</a>
</aside>
<article id="pagebody">
  <h2>Welcome</h2>
  <p>
    SuperTux is a free classic 2D jump'n run sidescroller game in a style
    similar to the original Super Mario games covered under the
    <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPL</a>.
  </p>

  {% for post in site.posts %}
  <hr/>
  <section class="news">
    <div class="datestamp">
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </div>
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    {{ post.content }}
  </section>
  {% endfor %}
</article>
