<?xml version="1.0"?>

<menu>
  <item section="."           file="welcome.html">SuperTux</item>
  <item section="milestone1"  file="milestone1/index.html">Milestone1</item>
  <item section="milestone2"  file="milestone2/index.html">Milestone2</item>
  <item section="development" file="development/index.html">Development</item>
  <item section="wiki"        file="wiki/index.php">Wiki</item>
  <item section="bugs"        file="bugs/index.php">Bugs</item>
  <item section="sfnet"       file="http://developer.berlios.de/projects/supertux/">Berlios.de</item>
</menu>
