---
layout: default
title: Screenshots
---

<article id="pagebody" class="screenshotpage">
  <h2>Screenshots</h2>

  <section>
    <h3>Release 0.5.1 (current stable)</h3>
    <div>
      {% for screenshot in site.data.screenshots["v0.4.0"] %}
        <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
      {% endfor %}
    </div>
  </section>

  <section>
    <h3>Release 0.3.5</h3>
    {% for screenshot in site.data.screenshots["v0.3.5"] %}
      <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
    {% endfor %}
  </section>

  <section>
    <h3>Release 0.3.0</h3>
    {% for screenshot in site.data.screenshots["v0.3.0"] %}
      <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
    {% endfor %}
  </section>

  <section>
    <h3>Release 0.1.3 (old stable)</h3>
    {% for screenshot in site.data.screenshots["v0.1.3"] %}
      <a href="{{ site.baseurl }}/{{ screenshot.large }}"><img class="screenshot" alt="{{ site.baseurl }}/{{ screenshot.large }}" src="{{ site.baseurl }}/{{ screenshot.small }}" width="200" height="150"/></a>
    {% endfor %}
  </section>
</article>
