<div id="title">
  <h1>
    <a href="{{ site.baseurl }}/index.html">
      <img src="{{ site.baseurl }}/images/supertux_title.png" alt="SuperTux"/>
    </a>
  </h1>
  <nav>
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li><a href="{{ site.baseurl }}/download.html">Download</a></li>
      <li><a href="{{ site.baseurl }}/news/">News</a></li>
	  <li><a href="{{ site.baseurl }}/discover.html">About</a></li>
      <li><a href="{{ site.baseurl }}/screenshots.html">Screenshots</a></li>
      <li><a href="{{ site.baseurl }}/donate.html">Donate</a></li>
      <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
    </ul>
    <ul class="menu external">
      <li><a href="ircs://irc.libera.chat/#supertux">IRC</a></li>
      <li><a href="https://github.com/SuperTux/supertux/wiki">Wiki</a></li>
      <li><a href="https://github.com/SuperTux/supertux/issues">Bugs</a></li>
      <li><a href="https://groups.f-hub.org/g/8AKEaTgZ">Forum</a></li>
      <li><a href="https://discord.gg/AcvtHWz">Discord</a></li>
      <li><a href="https://github.com/SuperTux/supertux">Source</a></li>
    </ul>
  </nav>
</div>
